.products {
    font-size: 16px;
    width: 400px;
    text-align: center;
    margin: 50px auto auto;
    border-radius: 10px;
    height: 40px;
    padding: 7px;
    background: silver none repeat scroll 0% 0%;
}

.project-overlay h5, .project-overlay h4 {
    color: #ffffff;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact_left p {
    color: #ffffff;
}

.templatemo-service-item2 {
    padding: 0px;
}

.disabled a {
    pointer-events: none;
}

.menu-links {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu-links li a {
    color: #ffffff;
    padding: 5px 0px;
    display: block;
}

.login-logo {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
}

.login-form {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 7% auto;
    width: 360px;
}

.form {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

.back-black {
    background-color: #d2d6de;
}

ul li {
    font-size: 14px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #929292;
}

.templatemo-line-header span {
    margin-top: 0px;
}